* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

#root {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}
