.button {

  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  background-color: hsl(216, 81%, 51%);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #392add;
  }
}

